body {
  scrollbar-color: #666 #333; /* firefox */
  height: 100%;
  overflow-y: scroll; /* don't randomly reposition everything when a scrollbar appears */
  font-family: sans-serif;
  font-size: 0.9em;
}

.flex-horiz {
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  flex-wrap: nowrap;
}

.indent {
  padding-left: .8em;
}
.flex-grow {
  flex-grow: 1;
}

.cht-off {
  color: #888;
}

body.dark .h-name { color: #A6E22C; }
body.dark .h-type { color: #67D8EF; }
body.dark .h-comm { color: #888888; }

#desc-place {
  padding-top: 1em;
  overflow: overlay;
}

#search-field {
  padding: 0 0.3em;
  line-height: 1.5;
}

.desc {
  padding: 0.2em;
  padding-left: 1em;
}
p {
  margin-block-start: 0;
  margin-block-end: 0.3em;
}
pre {
  margin: 0.1em 0.3em;
  padding: 0.3em 0.3em;
  overflow-x: auto;
}
code {
  padding: 0.1em 0.3em;
}
h4 {
  margin: 0;
}

.gr {
  min-width: 0.8em;
  min-height: 0.8em;
  display: inline-block;
  user-select: none;
}

.gr-yes {
  font-family: DejaVu Sans Mono, monospace;
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

.perf-table { margin: 0.5em; }
.perf-table td, .perf-table th { padding: 0 0.5em; }
.perf-table td:not(:nth-child(1)) { text-align: center; }

.operation pre {
  overflow-x: visible;
}

#search-table {
  table-layout: fixed;
  width: 100%;
  height: min-content;
}
#search-table tr {
  cursor: pointer;
}
#search-table td:nth-child(1) { text-align: right; overflow: hidden; }
#search-table td { overflow: hidden; white-space: nowrap; }
.mono {
  font-family: DejaVu Sans Mono, monospace;
}
.code-ws {
  white-space: pre-wrap;
}
#search-table td {
  font-family: DejaVu Sans Mono, monospace;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#pagination-place {
  display: inline-block;
  width: 100%;
}
.page-btn {
  cursor: pointer;
  display: inline-block;
  padding: 0.2em;
  margin: 0em 0.4em 0.3em 0;
  border-radius: 0.4em;
  
  min-width: 1.5em;
  text-align: center;
  
  user-select: none;
  background-color: #262626;
  font-family: DejaVu Sans Mono, monospace;
  box-shadow: 1px 1px 3px 2px #00000033;
}

.page-btn.page-curr {
  background-color: #3A3A3A;
  box-shadow: inset 1px 1px 3px 1px #000000ab;
}
#result-count {
  color: #888;
}

/* risc-v Note sections */
body.dark .operation .note-table {
  color: #999;
  margin: 0.5em 0em;
}
body.dark .operation table.tableblock {
  background-color: #171715;
}



body.dark  { background-color: #1D1D1B; color: #D3D3D3; }
body.black { background-color: #000000; color: #D3D3D3; }
body.light { background-color: #FFFFFF; color: #000000; }

#search-table tr > *:nth-child(1) { border-right: none; }
#search-table tr > *:nth-child(2) { border-left: none; }
body.light table, body.light td, body.light th { border: 1px solid #444; }

body.dark tr:nth-child(even),
body.dark .operation table.tableblock th,
body.dark .table-header {
  background-color: #222220;
}
/*body.dark table, body.dark .table-header { border: 1px solid #363636 }*/
body.dark table:not(.note-table),
body.dark .operation table.tableblock
{
  box-shadow: 0px 0px 5px 1px #0000002e;
}


body.dark  a { color: #A7DBC6 !important; }
body.dark input { background-color: #1D1D1B; color: #D2D2D2; }

body.dark  pre { background-color: #141412; }
body.light pre { background-color: #eee; border: 1px #ddd solid; }




a {
  text-decoration: none;
}
button {
  text-shadow: none;
  vertical-align: middle;
  text-align: center;
}
body.dark button {
  background-color: #444;
  color: #D3D3D3;
  border-color: #333;
}
body.dark button[disabled] {
  color: #808080;
}


::-webkit-scrollbar-button, ::-webkit-scrollbar-track {
  display:none;
}
::-webkit-scrollbar-thumb {
  background-color:#666;
}
::-webkit-scrollbar, ::-webkit-scrollbar-corner {
  background-color:#333;
}
::-webkit-scrollbar-thumb {
  border: none;
}